<div
  class="pensamento {{ pensamento.modelo }} ff-roboto-mono"
  [ngClass]="larguraPesamento()"
>
  <img
    src="../../../../../assets/{{ pensamento.modelo }}.png"
    alt="Aspas coloridas"
  />
  <p class="conteudo">
    {{ pensamento.conteudo }}
  </p>
  <p class="autoria">
    <b> {{ pensamento.autoria }}</b>
  </p>
  <div class="acoes">
    <button class="botao-editar">
      <img
        src="../../../../../assets/icone-editar.png"
        routerLink="/pensamentos/editarPensamento/{{ pensamento.id }}"
        alt="ìcone editar"
      />
    </button>
    <button
      class="botao-excluir"
      routerLink="/pensamentos/excluirPensamento/{{ pensamento.id }}"
    >
      <img src="../../../../../assets/icone-excluir.png" alt="ìcone excluir" />
    </button>
  </div>
</div>
